<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="springIoc.anno.sample1" />
	<!-- springIoc.anno.sample1라는 경로 내부에서 어노테이션이 있는 곳을 다 찾아라 라고 설정해준 것 어노테이션을 찾으면 그 어노테이션이 있는 부분을 Bean으로 만들어줌 -->
	
	<bean id="favoriteFood" class="springIoc.anno.sample1.Food" p:foodName="치킨" p:foodPrice="15000"></bean>
	<bean id="unFavoriteFood" class="springIoc.anno.sample1.Food" p:foodName="내장탕" p:foodPrice="20000"></bean>
</beans>
