<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
<bean id="consoleRef" class="springIoc.sample6.ConsoleOutput" />


<!-- 생성자에 인자를 넣어주는 여러 가지 방법 -->
<bean id="fileOutput" class="springIoc.sample6.FileOutput" c:filePath="c:/temp/test11.txt">
															<!-- c스키마를 이용한 축약형 -->
<!-- 	<constructor-arg>
		<value>c:/temp/test.txt</value>
	</constructor-arg> -->
	<!-- 하나의 <constructor-arg>태그에는 하나의 value태그만 올 수 있음 -->
<!-- 	<constructor-arg value="c:/temp/test.txt"></constructor-arg> -->
	
</bean>

<bean id="myBean" class="springIoc.sample6.MessageBeanImpl" 
c:name="신사임당" p:phone="010-1234-2131" p:output-ref="fileOutput">
									<!-- 객체가 주입될 경우는 -ref를 붙여줌 -->
<!-- 	<property name="output" ref="fileOutput"></property> -->
</bean>

</beans>
