<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- Root web application context 설정파일의 위치 -->
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Root web application context이 먼저 생성되고 이 안에 포함되어 있는 Servlet web application Context가 만들어짐 -->

	<!-- Processes application requests -->
	<!-- Dispatcher Servlet 설정 -->
	<servlet>
	<!-- DispatcherServlet의 이름(임의로 바꿀수도 있음) -->
		<servlet-name>appServlet</servlet-name>
		<!-- 이것을 만들 클래스 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- servlet web application context 설정파일의 위치 -->
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	     <!-- Log4j2 설정 -->
      <context-param>
          <param-name>log4jConfiguration</param-name>
          <param-value>classpath:/log4j2.xml</param-value>
      </context-param>
        <!-- 설정파일이 어디에 있나요??를 명시하는 부분 -->
        <!-- classpath: src/main/resources폴더를 의미함 -->
      <listener>
          <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener
          </listener-class>
      </listener>
      
      
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
		<!-- 
		<url-pattern>/</url-pattern> : 프로젝트명/ 이후에 오는 모든 url을 통한 요청에 대해서
		 다 appServlet이라는 이름의 DispatcherServlet이 다 받도록 설정(mapping)해준 것 
		 (/*라고 쓰면 안 됨! default Servlet이 요청을 받아 처리하게 되므로)
		 -->
	</servlet-mapping> 
	
	<filter>
		<!-- 이름은 어떻게 지어도 상관없음 -->
		<filter-name>encodingFilter</filter-name>
		<!-- filter를 만들 때 이용할 클래스 이름 -->
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<!-- 초기 인자로 인코딩 방식을 넣어줌(이 encoding 방식을 기준으로 필터링을 하게 될 것임) -->
		<init-param>
			<!-- 인자 이름 -->
			<param-name>encoding</param-name>
			<!-- 인자 값 -->
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- 필터 적용할 범위 설정 : filter mapping이라고 함 -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<!-- /* 의미: 프로젝트 경로 내부 전체를 의미 -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	

</web-app>
