<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byType">
	<!-- default-autowire 속성으로 autowire 설정을 해주면 bean 생성 태그에서 따로 autowire속성을 
		써주지 않을 경우 이 default-autowire로 설정된 방식으로 자동주입이 됨 
		
		autowire="no" 자동주입을 안하겠다고 설정하는 것임 
		이러면 default로 설정되어 있는 자동주입방식이 있다고 해도 해당 태그는 자동주입이 일어나지 않음 -->


	<bean id="data1" class="springIoc.sample10.DataBean"
		primary="true" />
	<bean id="data2" class="springIoc.sample10.DataBean" />

	<bean id="myObj" class="springIoc.sample10.TestBean" autowire="constructor"/>
	<!-- 
	constructor : 생성자로 주입하되, byType과 같이, 클래스 타입(=데이터 타입)으로 Bean을 찾아 자동 주입을 하게 된다. 
	이 속성을 사용하기 위해서는 bean을 생성할 클래스에 인자를 받는 생성자가 있어야 한다.
	 -->

</beans>